trigger:
  branches:
   include:
     - main
pool:
 name: clone
stages:
  - stage: Build
    jobs:
      - job: npmbuild
        steps:
          - task: Npm@1
            inputs:
              command: 'install'
 



 
     
